.movie {
    display: flex;
    height: 150px;
}

.movie-modal-button {
     background-color: #FFFFFF;
  border: none;
  color: #222222;
  padding: 15px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.movie-modal-body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #222222;
    line-height: 1.5;
    text-align: left;
    margin-top: 1px;
    padding: 20px;

    
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-title {
    padding: 10px;
}

.modal-header {
    height: 150px;
}

.movie-poster {
    
}
.movie-card {
    
    font-family: "Times New Roman", Times, serif;
    display: flex;
    
    align-items: flex-left;
    height: 150px;

 flex-direction: column;
    

    border: 1px solid #333;
    border-right: none;
    border-radius: 0px;
    gap: 10px;
   
    
}





.movie-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-indent: 20px;
}