#search-form {
  max-width: 280px;
  margin: 0 auto;
}

#search-input {
  width: 100%;
  text-align: left;
}

.movie-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.movie-list .movie-card {
    width: 100%;
}